extends default

block content
  div.container
    each idea in ideas
      div.idea-holder
        h2.idea-title
          | #{idea.title}
        h3.idea-author
          | #{idea.firstname} #{idea.lastname}
        a(href=`/idea?id=${idea.id}`)
          | View idea

